/*! purgecss start ignore */
@import "slick-carousel/slick/slick.css";

/*! purgecss end ignore*/
.announcement {
    font-family: "Poppins", sans-serif;
    background-color: white;

    padding: 70px;
    font-size: 54px;
}

.announcement.font {
    font-family: "Poppins", sans-serif;
    padding: 8px;
}

.announcement.black-bg {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 54px;
    /* transform: rotate(-10deg); */
}

.announcement.white-bg {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: black;
    font-weight: bold;
    font: 54px;
    /* transform: rotate(8deg); */
}

/*<---------HEADER--------------->*/
.bg-003049 {
    background-color: #ffffff;
    /* background-color: #003049; */
    /* Set background color to #003049 */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
    transition: all 0.3s;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.pt-0 {
    padding-top: 0;
    /* Adjust padding-top as needed */
}

.pt-4 {
    padding-top: 1rem;
    /* Adjust padding-top as needed */
}

.nav-bg {
    background-color: #ffffff;
    /* background-color: #003049; */
    color: white;
}

.max-w-screen-xl {
    max-width: 1280px;
    /* Adjust max-width as needed */
}

.px-6 {
    padding-left: 1.5rem;
    /* Adjust padding-left as needed */
    padding-right: 1.5rem;
    /* Adjust padding-right as needed */
}

.sm\:px-8 {
    padding-left: 2rem;
    /* Adjust padding-left as needed */
    padding-right: 2rem;
    /* Adjust padding-right as needed */
}

.lg\:px-16 {
    padding-left: 4rem;
    /* Adjust padding-left as needed */
    padding-right: 4rem;
    /* Adjust padding-right as needed */
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.py-3 {
    padding-top: 0.75rem;
    /* Adjust padding-top as needed */
    padding-bottom: 0.75rem;
    /* Adjust padding-bottom as needed */
}

.sm\:py-4 {
    padding-top: 1rem;
    /* Adjust padding-top as needed */
    padding-bottom: 1rem;
    /* Adjust padding-bottom as needed */
}

.text-white-logo {
    font-size: 30px;
    color: #000000;
    /* White color */
}

.bg-003049 {
    background-color: #ffffff;
}

.text-white {
    color: #000000;
    /* color: #ffffff; */
}

.text-black {
    color: #000000;
}

.text-orange-500 {
    color: #003049;
}

.hover\:text-black:hover {
    color: #000000;
}

/* styles.css */

.button-outline {
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 8px 20px;
    border: 2px solid #003049;
    color: #003049;
    background-color: #ffffff;
    outline: none;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.button-outline:hover {
    background-color: #003049;
    color: #ffffff;
    border-color: #003049;
    box-shadow: 0 4px 6px rgba(0, 48, 73, 0.1);
}